* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1,
p {
  font-family: Lato;
}

.box-main {
  position: relative;
  display: flex;
}

.dynamic-area {
  flex: 1;
  /* border: 2px solid black; */
  align-self: flex-start;
}

.results-area {
  flex: 1;
  align-self: flex-start;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.dynamic-box {
  padding: 10px;
  margin-bottom: 30px;
  border-radius: 5px;

  margin: 0 20px;
  margin-bottom: 20px;
  border: 1px solid black;
}

.drag-img-icon {
  width: 50px;
  height: 50px;
}

.results-box {
  margin: 5px;
  padding: 10px;
}
.resume-heading {
  background: #dce1e9;
  color: black;
  margin-bottom: 15px;
  margin-top: 10px;
  padding: 5px;
}

.img-drag-icon {
  width: 50px;
  height: 50px;
}

/* Profile Basic */
.basic-data-box {
  display: flex;
}
.basic-data {
  flex: 1;
}
.basic-photo {
  display: flex;
  justify-content: right;
  align-items: center;
  flex: 1;
  margin-right: 30px;
}
.profile-photo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

/*  Dynamic Space Result  */

.dynamic-space-result {
  border: 1px solid black;
  border-style: dashed;
}
